<!DOCTYPE html>

<html>
  <head>
    <script type="text/javascript" src="../../assets/javascripts/directions.js"></script>
  </head>
  <body>
    <div>
      <br>
      <strong>Enter origin</strong>
      <input type="text" name="start" id="start" style="width:250px;" onkeyup="calcRoute()">    
      <strong>Enter destination</strong>
      <input type="text" name="end" id="end" style="width:250px;" onkeyup="calcRoute()">    
    </div>
    <div id='map_canvas' style="width: 100%; position: relative; overflow: hidden; -webkit-transform: translateZ(0px); background-color: rgb(229, 227, 223);"=>
    </div>
  </body>
</html>

<!-- API KEY : AIzaSyAr5oNsZqX2C8IsZYcjAjnQ_yLMPRKagNE -->