<head>
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=API_KEY&amp;sensor=SET_TO_true_OR_false">
    </script>
</head>

<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<div id="map-canvas" style="height:400px; width:600px;"></div>
<script>
    function initialise() { 
        /* All of our map settings are going here */    
    }
    google.maps.event.addDomListener(window, 'load', initialise); // Execute our 'initialise' function once the page has loaded. 
</script>


<!-- API KEY : AIzaSyAr5oNsZqX2C8IsZYcjAjnQ_yLMPRKagNE -->